In [3]:
import pandas as pd
df=pd.read_csv("salarymultivar.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [4]:
df['gender']= df['gender'].replace('Male',1)
df['gender']= df['gender'].replace('Female',0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [6]:
df.columns

Index(['age', 'height', 'weight', 'gender', 'likeness'], dtype='object')

In [7]:
df1= df.drop(['age', 'height'],axis=1)
df1.head()

   weight  gender likeness
0    76.0       1  Biryani
1    70.0       1  Biryani
2    80.0       1  Biryani
3   102.0       1  Biryani
4    67.0       1  Biryani

In [19]:
##assigning x and y from the dataset
X = df1.iloc[:, :-1].values #get a copy of dataset exclude last column
y = df1.iloc[:, 2].values #get array of dataset in column 1st

In [20]:
X

array([[ 76.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 80.  ,   1.  ],
       [102.  ,   1.  ],
       [ 67.  ,   1.  ],
       [ 46.  ,   0.  ],
       [ 64.3 ,   0.  ],
       [ 98.  ,   1.  ],
       [ 87.5 ,   1.  ],
       [ 80.  ,   1.  ],
       [ 65.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 62.  ,   1.  ],
       [ 74.  ,   1.  ],
       [102.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 93.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 71.5 ,   1.  ],
       [135.  ,   1.  ],
       [ 82.  ,   1.  ],
       [ 70.  ,   0.  ],
       [ 60.  ,   1.  ],
       [ 84.5 ,   1.  ],
       [ 65.  ,   0.  ],
       [ 70.  ,   1.  ],
       [ 59.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 62.  ,   0.  ],
       [ 58.  ,   0.  ],
       [102.3 ,   1.  ],
       [ 64.  ,   1.  ],
       [ 50.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 77.  ,   1.  ],
       [ 82.72,   1.  ],
       [ 93.  ,   1.  ],
       [ 55.  ,   1.  ],
       [ 50.  ,   1.  ],
       [ 75.  ,   0.  ],
       [ 64.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 65.  ,   1.  ],
       [ 84.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 53.  ,   1.  ],
       [ 90.  ,   0.  ],
       [ 79.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 79.  ,   1.  ],
       [ 50.9 ,   0.  ],
       [ 68.5 ,   1.  ],
       [130.  ,   1.  ],
       [ 63.  ,   1.  ],
       [ 93.  ,   1.  ],
       [ 59.  ,   1.  ],
       [ 76.  ,   1.  ],
       [ 76.  ,   1.  ],
       [ 60.  ,   1.  ],
       [ 63.  ,   1.  ],
       [ 60.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 65.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 55.  ,   0.  ],
       [ 65.  ,   1.  ],
       [ 72.6 ,   1.  ],
       [ 55.  ,   1.  ],
       [ 46.  ,   0.  ],
       [ 62.  ,   0.  ],
       [ 72.5 ,   1.  ],
       [ 55.5 ,   1.  ],
       [ 70.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 52.  ,   1.  ],
       [ 43.  ,   0.  ],
       [ 61.5 ,   1.  ],
       [ 76.  ,   1.  ],
       [ 60.  ,   0.  ],
       [ 62.  ,   1.  ],
       [ 77.  ,   1.  ],
       [ 65.  ,   0.  ],
       [ 50.  ,   1.  ],
       [ 91.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 81.5 ,   1.  ],
       [ 88.  ,   1.  ],
       [ 60.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 87.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 55.6 ,   1.  ],
       [ 86.  ,   1.  ],
       [ 82.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 60.  ,   0.  ],
       [ 50.  ,   1.  ],
       [ 62.  ,   1.  ],
       [ 71.  ,   1.  ],
       [ 55.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 72.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 10.92,   1.  ],
       [ 57.  ,   0.  ],
       [ 90.  ,   1.  ],
       [ 65.  ,   0.  ],
       [ 68.  ,   1.  ],
       [ 74.  ,   1.  ],
       [ 52.  ,   1.  ],
       [ 51.  ,   0.  ],
       [ 76.  ,   1.  ],
       [ 82.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 80.  ,   1.  ],
       [ 51.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 54.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 58.  ,   0.  ],
       [ 68.  ,   1.  ],
       [ 97.  ,   1.  ],
       [ 66.  ,   1.  ],
       [ 47.  ,   0.  ],
       [ 65.  ,   1.  ],
       [ 60.  ,   1.  ],
       [ 90.  ,   1.  ],
       [ 40.  ,   0.  ],
       [ 62.  ,   1.  ],
       [ 65.  ,   1.  ],
       [ 55.2 ,   1.  ],
       [ 71.  ,   1.  ],
       [ 55.  ,   1.  ],
       [ 54.  ,   1.  ],
       [161.  ,   1.  ],
       [102.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 59.  ,   1.  ],
       [ 83.  ,   1.  ],
       [ 46.  ,   0.  ],
       [ 53.  ,   0.  ],
       [ 62.  ,   0.  ],
       [ 55.  ,   1.  ],
       [ 76.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 57.  ,   1.  ],
       [ 81.  ,   1.  ],
       [ 80.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 63.4 ,   1.  ],
       [ 67.  ,   1.  ],
       [ 50.  ,   0.  ],
       [ 50.4 ,   1.  ],
       [ 58.  ,   1.  ],
       [ 67.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 46.7 ,   0.  ],
       [ 45.  ,   0.  ],
       [  6.  ,   0.  ],
       [ 62.  ,   1.  ],
       [ 90.  ,   1.  ],
       [101.  ,   1.  ],
       [179.  ,   1.  ],
       [ 88.  ,   1.  ],
       [ 73.  ,   1.  ],
       [ 50.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 84.  ,   1.  ],
       [ 67.  ,   1.  ],
       [ 71.  ,   1.  ],
       [ 96.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 88.  ,   1.  ],
       [ 84.  ,   1.  ],
       [ 90.  ,   1.  ],
       [ 88.  ,   1.  ],
       [ 75.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 82.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 53.  ,   1.  ],
       [ 73.8 ,   1.  ],
       [ 80.  ,   1.  ],
       [ 74.  ,   1.  ],
       [ 80.  ,   1.  ],
       [ 54.  ,   0.  ],
       [ 62.  ,   1.  ],
       [ 64.  ,   1.  ],
       [ 82.  ,   1.  ],
       [ 80.  ,   1.  ],
       [ 79.  ,   1.  ],
       [ 40.  ,   0.  ],
       [ 74.  ,   1.  ],
       [ 98.  ,   1.  ],
       [ 86.  ,   1.  ],
       [ 57.  ,   1.  ],
       [ 65.  ,   0.  ],
       [ 75.  ,   0.  ],
       [ 56.  ,   0.  ],
       [ 78.  ,   1.  ],
       [ 88.  ,   1.  ],
       [ 62.  ,   0.  ],
       [ 75.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 80.  ,   1.  ],
       [ 74.  ,   1.  ],
       [ 45.  ,   0.  ],
       [ 74.  ,   1.  ],
       [ 88.2 ,   1.  ],
       [ 77.  ,   1.  ],
       [ 60.  ,   0.  ],
       [ 68.  ,   1.  ],
       [ 78.  ,   1.  ],
       [ 85.  ,   1.  ],
       [ 62.  ,   0.  ],
       [ 70.  ,   1.  ],
       [ 60.  ,   1.  ],
       [ 74.  ,   1.  ],
       [ 48.  ,   0.  ],
       [ 53.  ,   1.  ],
       [ 64.  ,   1.  ],
       [ 26.  ,   0.  ],
       [ 59.  ,   0.  ],
       [ 96.  ,   1.  ],
       [ 64.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 72.2 ,   1.  ],
       [ 66.  ,   1.  ],
       [ 68.  ,   1.  ],
       [ 48.  ,   1.  ],
       [ 50.  ,   0.  ],
       [ 60.  ,   1.  ],
       [ 50.  ,   1.  ],
       [ 63.  ,   1.  ],
       [ 60.  ,   1.  ],
       [ 70.  ,   1.  ],
       [ 80.  ,   1.  ],
       [ 65.  ,   1.  ],
       [ 56.  ,   0.  ]])

In [21]:
y

array(['Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Samosa',
       'Pakora', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Pakora', 'Biryani', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Samosa', 'Biryani', 'Pakora', 'Pakora', 'Samosa',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Pakora', 'Pakora',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Pakora', 'Samosa', 'Biryani', 'Biryani',
       'Pakora', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Pakora', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa'], dtype=object)

In [22]:
#machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

#creat and fit our model
model= DecisionTreeClassifier().fit(X,y)

#predictions
model.predict([["67.0","1"]])

array(['Biryani'], dtype=object)

In [31]:
# accuracy of model
#split data into test and train (80/20)%rule
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2, random_state=1)

#creat a model
model.fit(X_train, y_train)

predicted_values =model.predict(X_test)
predicted_values

score = accuracy_score(y_test, predicted_values)
score

0.5102040816326531

In [32]:
#how to train and save your model
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
import joblib
model = DecisionTreeClassifier().fit(X,y)

joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [37]:
# how to import/run a stored/saved model on our data 
# some time later...
 
# load the model from disk
loaded_model = joblib.load("foodie.joblib")
result = loaded_model.score(X_test, y_test)
print(result)

0.6938775510204082

In [39]:
#graph
from sklearn import tree

model= DecisionTreeClassifier().fit(X,y)
#graphic evaluation
tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names=["age","gender"],
                    class_names=sorted(y),
                    label= "all",
                    rounded=True,
                    filled=True)